<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mandatory</title>
</head>
<body>
    <h1>Mandatory 1</h1>
    <form action="/jwt" method="post">
        <input type="hidden" id="jwt_field" name="print_JWT" value={{ data }}>
        <input type="text" id="phone_field" name="phone" placeholder="Enter Phonenumber">
        <input id="jwt_test" type="submit" name="send_JWT" value="Validate">
    </form>
</body>
</html>